body {
	font: 10pt arial, sans-serif;
	background: #eee;
	margin: 0px;
	padding: 0px;
	color: #333;
}

#card {
	background: #fff;
	border: solid 1px #aaa;
	width: 300px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, .15);
	margin: 50px auto;
	padding: 10px;
}

header {
	margin-bottom: 10px;
}

header #title {
	float: left;
	height: 47px;
	border-bottom: solid 3px #ddd;
	width: 240px;
}

header #avatar {
	float: right;
	border-radius: 3px;
	overflow: hidden;
}

header #avatar img {
	display: block;
}

h1 {
	font-size: 140%;
	margin: 0px;
	color: #5774AD;
}

h2 {
	font: normal italic 100% georgia, sans-serif;
	color: #888;
	margin: 0px;
}

#social {
	margin-bottom: -5px;
}

#social a:link,
#social a:hover,
#social a:active,
#social a:visited {
	color: inherit;
	text-decoration: none;
}

#social article {
	border: dashed 1px #ccc;
	width: 128px;
	height: 32px;
	float: left;
	margin: 5px 5px;
	line-height: 30px;
	padding: 5px;
}

#social article:hover .icon {
	padding-left: 5px;
}

#social .icon {
	-webkit-transition: all 0.2s;
}

#social article .icon {
	float: left;
	margin-right: 5px;
}

#social article .icon img {
	display: block;
}

#social .info {
	position: relative;
}

#social .info p {
	margin: 0px;
	height: 32px;
	line-height: 32px;
	font-size: 80%;
}

#social .info .title {
	font-weight: bold;
}

.title.facebook {
	color: #335795;
}

.title.twitter {
	color: #4FA9B7;
}

.title.forrst {
	color: #517149;
}

.title.github {
	color: #444;
}

footer {
	font-size: 80%;
	margin-top: 15px;
	text-align: center;
	color: #888;
}

footer a {
	color: #666;
	text-decoration: none;
	font-weight: bold;
}

footer a:hover {
	text-decoration: underline;
}

footer a:visited {
	color: #666;
}