html {
	background: #eee;
}

body {
	background: #fff;
	border: solid 1px #aaa;
	padding: 20px;
	margin: 50px auto;
	width: 120px;
	font: 10pt arial;
	text-align: center;
	border-radius: 5px;
	-moz-border-radius: 5px;
}